.home {
  background-color: #fff9f4;
  width: 100%;
  margin: 0 auto;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 35px;
  }

.gallery {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}

.order{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
}
