.container {
  padding: 25px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-end: 40px;
}

.list {
  display: inline-block;
  margin: 5px;
  list-style: none;
}

.list button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 500;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  color: rgb(34, 15, 2);
  background: #ffe3ce;
}

.list button:disabled {
  background: #FFEFE3;
}
