.fix {
  top: 0;
  width: 100%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.name {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 300;
  font-size: 17px;
  border-radius: 500px;
  overflow: hidden;
  color: rgb(34, 15, 2);
  background: #ffe3ce;
}
